/* --- Tambahkan Baris Ini di Paling Atas --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Opsional: Paksa font default HTML --- */
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}